.admin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0px auto;
    /* min-height: 900px; */
}

.admin-container h2 {
    font-size: 44px;
    color: #05ffa3;
    font-weight: 700;
    text-align: center;
}

.admin-container img {
    margin: 0px auto;
    width: 300px;
    height: 300px;
}

.admin-container input {
    color: black;
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
    background-color: #fff;
}

.admin-container input:focus {
    border: 3px solid purple;
    outline: none;
}

.selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
}

.selection-container h2 {
    font-size: 44px;
    color: #05ffa3;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.selection-container input {
    width: 25%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
    background-color: #fff;
}

.selection-container input:focus {
    border: 3px solid purple;
    outline: none;
}

/* CSS */
.event-container {

    margin-top: 20px;
    margin-left: 30px;
    max-width: 900px;
    width: 70%;
    display: flex;
    gap: 10px;
    min-height: 80px;
    align-items: center;
    overflow-x: scroll;
}

.event-container button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    min-width: max-content;
}

.center-content {
    justify-content: center;
}

.count-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.count-card span {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.count-card div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    width: 100%;
    height: 100px;
    margin: 0;
    border-radius: 10px;
}

.count-card div p {
    background-image: linear-gradient(to right, rgb(5, 255, 163), rgb(6, 190, 216));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.loading-container {
    margin: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.loading-container img {
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 1400px) {
    .selection-container {
        margin: 200px auto 0px auto;
    }
}

@media screen and (max-width: 900px) {
    .admin-container {
        margin: 200px auto 0px auto;
    }

    .selection-container input {
        width: 50%;
    }

    .selection-container {
        margin: 200px auto 0px auto;
    }

    .event-container {
        margin-right: 0px;
    }
}

@media screen and (max-width: 789px) {
    .admin-container {
        margin: 200px auto 0px auto;
    }

    .selection-container input {
        width: 50%;
    }

    .selection-container {
        margin: 200px auto 0px auto;
    }

    .event-container {
        margin-right: 0px;
    }
}

