.committee-main-container {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

.committee-container {
    text-align: center;
    padding: 20px;
    margin-top: 5%;
}

.committee-title {
    font-size: 44px;
    color: #05ffa3;
    font-weight: 700;
}

.content-container-item {
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-bottom: 60px;
    width: 350px;
}

.content-container-item-image {
    width: 100px;
    position: relative;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.content-container-item-image>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.committee-name-x {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.committee-name-x>div>h1 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.committee-name-x>div>p {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}

.committee-name-x>p {
    font-size: 14px;
    font-weight: 600;
    color: #05ffa3;
}

.insta-hover-container {
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: var(--fg-green);
    height: 20px;
    width: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

.committee {
    width: 50%;
    height: 40%;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    .committee-container {
        text-align: center;
        padding: 20px;
        line-height: normal;
        margin-top: 0%;
        margin-bottom: 50px;
    }

    .content-container {
        margin: 0px 25px;
    }

    .content-container-item {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        width: 350px;
    }

    .committee-tilte-description {
        margin: 5%;
    }
}