.timeline-main {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

.button-flex {
    width: 100%;
    margin: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.timeline-main-container {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.timeline-title {
    font-size: 44px;
    color: #05ffa3;
    font-weight: 700;
}

.timeline {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px;
}

.timline-component {
    width: 100%;
    height: 90px;
    margin-top: 20px;
    position: relative;
}

.timeline-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.timeline-header>.title {
    font-size: 30px;
    color: var(--fg-green);
    font-weight: 700;
    letter-spacing: -1.3px;
    font-weight: 900;
}

.timeline-header>.add {
    width: 40px;
    height: 40px;
}

.timeline-header>.add:hover {
    cursor: pointer;
}

.timeline-header>.add>img {
    width: 100%;
    height: 100%;
}

.timeline-component::-webkit-scrollbar {
    display: none;
}

.timeline-component::-webkit-scrollbar-thumb {
    display: none;
}

.event_name {
    font-weight: 900 !important;
    font-size: 60px !important;
    font-family: #c8c8c8 !important;
}

.event-date {
    color: #c8c8c8 !important;
    font-weight: 800 !important;
}

.event_name:hover {
    color: #05ffa3 !important;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
}

.item-button1 {
    background-color: var(--fg-green);
    font-size: 14px;
    width: 45px;
    height: 45px;
    background-image: linear-gradient(90deg, #24B47E, #50e40c) !important;
    padding: 3px;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.item-button1>div {
    width: 40px;
    height: 40px;
    background-color: var(--bg-black);
    border-radius: 50px;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 800;
}

.scroll-to-top:hover {
    opacity: 1;
}

.rocket1 {
    width: 200px;
    position: fixed;
    top: 20px;
    right: -30px;
    transform: rotate(180deg);
}

.rocket2 {
    width: 200px;
    position: fixed;
    bottom: 0px;
    left: 210px;
}

@media only screen and (max-width: 1300px) {
    .rocket2 {
        position: sticky;
        left: 0px;
    }
}

@media only screen and (max-width: 800px) {
    .button-flex {
        margin: 0;
    }

    .button-flex>.item-button {
        background-color: var(--fg-green);
        font-size: 14px;
        width: 80px;
        background-image: linear-gradient(90deg, #24B47E, #50e40c) !important;
        padding: 3px;
        border-radius: 50px;
        color: white;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }

    .button-flex>.item-button>div {
        width: 74px;
        background-color: var(--bg-black);
        border-radius: 50px;
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 800;
    }

    .event_name {
        font-weight: 900 !important;
        font-size: 19px !important;
    }

    .event-date {
        font-size: 12px !important;
    }

    .timeline-title {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    .rocket1 {
        display: none;
    }

    .rocket2 {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .event_name {
        font-weight: 900 !important;
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 400px) {
    .event_name {
        font-weight: 900 !important;
        font-size: 14px !important;
    }
}